ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #a8dff0;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #a8dff0;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #14ffa5;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color:  #a8dff0;
}
.footer-menu li a {
  font-size: 14px;
  color: #fcf8f8;
}



















@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@400;500;700&display=swap');
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

nav,ul{
    display:flex;
    align-items: center;
}
nav{
    justify-content: space-around;
}
ul{
    flex-basis: 60%;
    justify-content: space-between;
    margin-left:2em;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}

.banner{
    background: url("https://www.askinclinic.co.uk/wp-content/uploads/2019/01/iStock-917717364.jpg " ) ;
    background-repeat: no-repeat;
    height:100vh;
    background-size: cover;
    background-position: 50% 50%;
    clip-path: polygon(0 0,100% 0,100% 100%,0 80%);
    border-radius: 0 0 40% 0;
    color:white;

}
.banner-text{
    padding-top: 10rem;
    padding-left: 9rem;
    width:900px;
    line-height: 1.3;
    position: relative;;
}
.para{
    color: #000000;
}
.tag{
    font-size: 5rem;
    font-weight: 300;
    color:#000000
}
.black{
    background-color: black;
    color:white;
}
.sm-box{
    margin-left:9rem;
    margin-top:2rem;
    padding:20px;
    display:inline-block;
    font-size: .7rem;
    font-weight: 100;
}
.lg-box{
    position:absolute;
    top:80%;
    left:9rem;
    padding:40px 20px;
    color:white;
}
.lg-box>*:not(a){
    line-height:3;
    margin-bottom:3px;
    font-weight: 300;
}
.lg-box>span{
    font-size: 12px;
}
.lg-num{
    font-size: 2rem;
    font-weight: 700;
}
.lg-box>p{
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}
.lg-box>p+p{
    margin-bottom: 40px;
    font-size: 1rem;
}
.lg-box>a{
    color:black;
    padding:8px 30px;
    background: white;
    font-weight: 500;
    font-size: .7rem;
}

.section-2{
    padding:12rem 2rem;
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 2;
}
.sec-2-items{
    flex-basis:22%;
}

.sec-2-items>h2{
    font-size: 1rem;
}
.sec-2-items>p{
    font-size:.8rem
}
.section-3{
    display: flex;
    justify-content: center;
    padding:50px 0;
    background: #f2f6f7;
}
.sec-3-left>h2{
    font-size: 2.5rem;
    font-weight: 500;
    width:70%;

}
.sec-3-left{
    width:30%;
    margin-right:1.5rem;
    padding-top: 20px;
}
.sec-3-left>p{
    line-height: 2;
    font-size:.8rem;
}
.sec-3-right{
    width:25%;
    margin-left: 1.5rem;
}
.sec-3-right>img{
    width: 100%;
    padding:20px;
}
.section-4{
    display: flex;
    justify-content: center;
    padding:5% 0;
}
.barbers{
    margin-right: 2rem;
}
.barbers>img{
    height:350px;
}

.info{
    margin:0 3rem;
    padding:10px;
    text-align: center;
}
.info>h4{
    font-weight: 300;
    font-size: .9rem;
}
.info>span{
    font-size: .6rem;
}
.section-5{
    background: url("https://cdn.glitch.global/c03ad7da-a1ba-4b7c-aab2-f7adcb46e1d5/banner.jpg?v=1646601122612");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin:5rem auto;
    width:70%;
    height:400px;
}
.sec-5-content>*{
    line-height:1.5;
    margin-bottom:3px;
}
.sec-5-content{
    margin-left: 6rem;
    padding-top:10%;
}
.sec-5-tag{
    font-size: .8rem;
}
.sec-5-content>p+p{
    margin-bottom:20px;
    font-size:1.6rem;
}
.sec-5-btn{
    padding:15px;
}
.section-6{
    text-align: center;
}
.gallery{
    column-count:3;
    padding:0 2rem;
    column-gap: 1rem;
    width:70%;
    margin:5rem auto;
}
.gallery>img{
    width:100%;
}
.gallery-image1{
    width:200px;
    height:210px;
}
.gallery-image5{
    width:200px;
    height:210px;
}
.gallery-image2{
    width:210px;
    height:450px;
}
.gallery-image3{
    width:210px;
    height:450px;
}
.gallery-image6{
    width:210px;
    height:450px;
}
.gallery-image4{
    width:200px;
    height:210px;
}


.services{
  text-align: center;
}

.banner{
  color:#000000
}




*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  }
  
  body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
  }
  
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
  }
  
  .footer > * {
    flex:  1 100%;
  }
  
  .footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
  }
  
  .footer__logo {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
  }
  
  .footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
  }
  
  .nav__title {
    font-weight: 400;
    font-size: 15px;
  }
  
  .footer address {
    font-style: normal;
    color: #999;
  }
  
  .footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
  }
  
  .footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer li {
    line-height: 2em;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer__nav {
    display: flex;
      flex-flow: row wrap;
  }
  
  .footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
  .nav__ul a {
    color: #999;
  }
  
  .nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
  }
  
  .legal {
    display: flex;
    flex-wrap: wrap;
    color: #999;
  }
    
  .legal__links {
    display: flex;
    align-items: center;
  }
  
  .heart {
    color: #2f2f2f;
  }
  
  @media screen and (min-width: 24.375em) {
    .legal .legal__links {
      margin-left: auto;
    }
  }
  
  @media screen and (min-width: 40.375em) {
    .footer__nav > * {
      flex: 1;
    }
    
    .nav__item--extra {
      flex-grow: 2;
    }
    
    .footer__addr {
      flex: 1 0px;
    }
    
    .footer__nav {
      flex: 2 0px;
    }
  }

.footer-widget-heading1{
  color:white;
} 
.makeup{
  color:white;
}








.whats-app {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  left: 15px;
}
.my-float {
  margin-top: 16px;
}
.container-3{
margin: 4% auto;
width: 210px;
height: 140px;
position: relative;
perspective: 1000px;
}


.ABOUTUS{
  COLOR:white;
  align-content: center;
  padding-left: 550PX;;
}